<h1>search-page works!</h1>

<div class="d-flex">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="name"
  />
  <button
    class="btn btn-outline-success"
    type="button"
    (click)="searchPerson()"
  >
    Search
  </button>
</div>

<div class="container-fluid">
  <div class="col-md-6">
    <h4>Employees looking for hire</h4>
    <div class="list-group">
      <div class="list-group-item" *ngFor="let person of people; let i = index">
        <p>Name: {{ person.name }}</p>
        <p>email: {{ person.email }}</p>
        <p>age: {{ person.age }}</p>
        <p>Skill Sets: {{ person.skills }}</p>
      </div>
    </div>
  </div>
</div>
