<h1>job-listings-page works!</h1>

<div class="d-flex">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="title"
  />
  <button
    class="btn btn-outline-success"
    type="button"
    (click)="searchJob()"
  >
    Search
  </button>
</div>

<div class="container-fluid">
  <div class="col-md-6">
    <h4>Jobs Available</h4>
    <div class="list-group">
      <div class="list-group-item" *ngFor="let job of jobs; let i = index">
        {{ job.title }}
        <a>{{ job.name }}</a>
        {{ job.desc }}
      </div>
    </div>
  </div>
</div>
